[business_type]
PK id 
VARCHAR (30) classification

[Bussiness]
VARCHAR(250)    entity_name
[FK]            business_type  
VARCHAR (20)    fei_ein_number
DATE            date_filed
VARCHAR(2)      state
BOOLEAN         status_active
[FK address]    principal_address
[FK address]    mailing_address
[FK person]     reqistered_agent
[FK address]    registerd_agent_address

[Address]
not null varchar(120) adresss1
address2
address3
city
state
country
postalcode
lastupdate

class Person
first_name not null
last_name not null
middle_name
email1 
email2
phone1 not null
phone2
phone3
address is a FK to addrees table id, not null
lastupdate is a time stamp auto updated when the record is created.
